<template>
  <div class="details">
    <h1> Details du film : {{ film.title }}</h1>
    <div class="content">
      <h3> Description : {{ film.overview}}</h3>
      <h3> Realisé le : {{ film.release_date }}</h3>
      <h3> id du film : {{ film.id }}</h3>
      <h3> Popularité du film : {{ film.popularity }}</h3>
    </div>

    <ul>
      <h3> Casting : </h3>
      <li v-for="actor in actors" :key="actor.id">
        <h3> {{ actor.name }} (rôle) ------> {{ actor.character }}</h3>
      </li>
    </ul>
  </div>
</template>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
</style>

<script setup>
import { useRoute } from "vue-router";
import axios from "axios";
import { ref } from "vue";

const route = useRoute();
const film = ref({});
const actors = ref([]);

const api_key = "08f083ae6ef0c233928cedb6d2558270";

const getFilmDetails = async () => {
  const id = route.query.id;
  const response = await axios.get(
      `https://api.themoviedb.org/3/movie/${id}?api_key=${api_key}&language=fr-FR`
  );
  film.value = response.data;

  const credits = await axios.get(
      `https://api.themoviedb.org/3/movie/${id}/credits?api_key=${api_key}&language=fr-FR`
  );
  actors.value = credits.data.cast;
};

getFilmDetails();
</script>
